#titulo {
    display: flex;
    flex-direction: column;
    color: #f80303;
    padding: 45px 0 0 45px;
    font-size: 55px;
}

#texto {
    padding: 45px 0 0 42px;
    font-size: 30px;
}

#foto {
    margin-top: 15px;
    max-width: 420px;
}