#product-details, #product-card {
    background-color: #f6eabe;

    .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
        background: #f0c14b;
        border: 1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
        color: black;
    }
}
