#root{

    
    #produtos{
        background-color:#F6EABE;
        display: flex;
        flex-direction: column;

        .container-nav{
            .dropdown-menu{
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }
        
        .container{
            margin: 10px auto;
            padding: 10px auto;
            width: 80%;
            .col{
                
                max-width: 255px;

                .card-container{

                    text-align: center;
                    padding-top: 10px;

                    .card-img-top{
                        width: 80%;
                        max-height: 106px;
                    }

                    .card-body{
                        text-align: center;
                            .btn-primary{
                                background: #f0c14b;
                                border: 1px solid;
                                margin-top: 10px;
                                border-color: #a88734 #9c7e31 #846a29;
                                color: black;
                            }
                    }
                }
            }
        }
        
    }
}
