#card-git {
margin-left: 5rem;
margin-top: 5rem;
text-align: center;
align-items: center;
border: none;
 
}

#git{
border-radius: 100px;
}
.banner-sobrenos{
width: 100%;
mask-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
z-index: -2;
}
    
#titulo {
display: flex;
justify-content: center;
text-transform: uppercase;
color:black;
font-size: 2.0rem;
border-bottom: 2px solid black ;

}
   
#texto {
font-size: 1.3rem;
padding-bottom: 5rem;

}
   
    
  

    


