#root{

    
    #produtos{
        background-color:#F6EABE;
        display: flex;
        flex-direction: row;
        
        .container{
            margin: 80px auto;
            padding: 10px auto;
            width: 80%;
            .col{
                
                max-width: 255px;

                .card-container{

                    .card-body{
                        text-align: center;
                            .btn-primary{
                                background: #f0c14b;
                                border: 1px solid;
                                margin-top: 10px;
                                border-color: #a88734 #9c7e31 #846a29;
                                color: black;
                            }
                    }
                }
            }
        }
        
    }
}
