#root {
    #produtos {
        background-color: #f6eabe;
        display: flex;
        flex-direction: column;

        .container-nav {
            .dropdown-menu {
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .container {
            margin: 10px auto;
            padding: 10px auto;
            width: 100%;

            .col {
                max-width: 255px;

                .card-container {
                    text-align: center;
                    padding-top: 10px;
                    height: 70vh;

                    .card-img-top {
                        width: 80%;
                        max-height: 106px;
                    }

                    .card-body {
                        text-align: center;
                        .btn-primary {
                            background: #f0c14b;
                            border: 1px solid;
                            margin-top: 10px;
                            border-color: #a88734 #9c7e31 #846a29;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.card-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
}

@media only screen and (max-width: 767px) {
    .card-container {
        height: 100% !important;
    }
    .card-img-top {
        min-width: auto !important;
        /* min-width: 50vw; */
        margin-top: 18px;
    }
}

@media only screen and (min-height: 650px) {
    .card-container {
        height: 100% !important;
    }
}
