
.carrinho{
    display:flexbox;
    align-items: right;
    height:25px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#responsive-navbar-nav{
    align-items: center;
  align-content: center;
}
    

   
   

/* .carrinho{
    margin:20px;
    width: 50px;
    height: 25px;
    background-color: red;
    margin: 50px
} */
.logo{
    width: 150px;
    height: 50px;
}


 
  
    
 

   