@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  * {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
  font-family: "Robot Condesed" sans-serif;
  background: radial-gradient(#e5e5e5,#F6EABE,  #F6EABE);
 
}
.root{
  scroll-behavior: smooth;
}